/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/**************************************
	FONT-FACE
**************************************/

@font-face {
    font-family: 'Liberation Sans';
    src: url('../fonts/liberationsans-regular-webfont.eot');
    src: url('../fonts/liberationsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/liberationsans-regular-webfont.woff') format('woff'),
         url('../fonts/liberationsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/liberationsans-regular-webfont.svg#liberation_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Bold';
    src: url('../fonts/liberationsans-bold-webfont.eot');
    src: url('../fonts/liberationsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/liberationsans-bold-webfont.woff') format('woff'),
         url('../fonts/liberationsans-bold-webfont.ttf') format('truetype'),
         url('../fonts/liberationsans-bold-webfont.svg#liberation_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Bold Italic';
    src: url('../fonts/liberationsans-bolditalic-webfont.eot');
    src: url('../fonts/liberationsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/liberationsans-bolditalic-webfont.woff') format('woff'),
         url('../fonts/liberationsans-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/liberationsans-bolditalic-webfont.svg#liberation_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Italic';
    src: url('../fonts/liberationsans-italic-webfont.eot');
    src: url('../fonts/liberationsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/liberationsans-italic-webfont.woff') format('woff'),
         url('../fonts/liberationsans-italic-webfont.ttf') format('truetype'),
         url('../fonts/liberationsans-italic-webfont.svg#liberation_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OSP DIN';
    src: url('./fonts/OSP-DIN-webfont.eot');
    src: url('./fonts/OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/OSP-DIN-webfont.woff') format('woff'),
         url('./fonts/OSP-DIN-webfont.ttf') format('truetype'),
         url('./fonts/OSP-DIN-webfont.svg#osp-dindin') format('svg');
    font-weight: normal;
    font-style: normal;
}


/**************************************
	GENERAL
**************************************/

html {
	background-color: #f8f8f8;
	}

#wrapper {
	width: 98%;
	margin: 40px auto;
	font-family: "Liberation Sans", helvetica, arial, sans-serif;
	font-size: 1em;
	line-height: 1.2;
	color: #3c393e;
	}
	
a {
	color: #3c393e;
	text-decoration: none;
/*	border-bottom: 1px solid #3c393e;*/
	}
	
.hide {
	display: none;
	}
	
hr {
	margin: 0;
	border-style: none;
	height: 1px;
	background-color: #3c393e;
	}
	
#logo {
	height: 60px;
	width: 260px;
	margin: 0 auto;
	position: relative;
	}
	
#logo img {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	}
	
#logo .hover {
	opacity: 0;
	}
		
#title {
/*	border: 1px solid green;*/
	font-size: 4em;
	letter-spacing: 0.05em;
	font-family: "OSP DIN", Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 40px 0;
	line-height: 1;
	color: #3c393;
	}

.clear {
	clear: both;
	}

/**************************************
	SONG LIST
**************************************/

#menu {	
	position: fixed;
	z-index: 99;
	top: 0;
	right: 0;
	width: 25%;
	height: 100%;
	background-color: #f8f8f8;
	padding: 13px;
	margin-right: 0%;
	color: #3c393e;
	border-right: 1px solid #3c393e;
	box-shadow: 0px 0px 50px black;
	overflow-y: auto;
	}
	
#menu a {	
	border-bottom: 0px;
	}
	
#menu ul {
	margin-top: 30px;
	margin-bottom: 150px;
	}

#menu li {	
	padding-bottom: 4px;
	margin-bottom: 4px;
	position: relative;
	border-bottom: 1px solid transparent;
	}
	
#menu li:hover {	
	border-bottom: 1px solid #3c393e;
	}

.menu_title {
	width: 80%;
	}
	
.menu_title, .menu_duration {
	display: inline-block;
	font-size: 0.9em;
	vertical-align: bottom;
	}
	
.menu_duration {
	text-align: right;
	position: absolute;
	right: 6px;
	bottom: 4px;	
	}
	
.menu_hide {
	background-color: #f8f8f8;
	height: 20px;
	position: fixed;
	z-index: 99;
	width: 25%;
	top: 0; 
	right: 0;
	padding: 12px;
	}

.menu_show_wrapper {
	position: fixed;
	z-index: 50;
	background-color: #f8f8f8;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 20px;
	padding: 12px;
	}

.menu_show {	
	position: absolute;
	width: 25%;
	height: 20px;
	padding: 12px;	
	right: 0;
	top: 0;
	}
	
.menu_show p {	
	margin-top: -2px;
	margin-left: 60px;
	}

.menu_hide span, .menu_show span {
	position: absolute;
	top: 4px;
	height: 70%;
	left: 12px;
	}
	
.menu_hide img, .menu_show img {
	height: 60%;
	width: auto;
	position: absolute;
	top: 6px;
	}	
		
.menu_hide .hover, .menu_show .hover {
	opacity: 0;
	}
		
.menu_show a:hover {
	color: #ea1414;
	}
	
#menu .current span {
	color: #ea1414;
	}
		
/**************************************
	SONGS
**************************************/

#songs {
	width: 100%;
	font-size: 0.9em;
	margin-bottom: 200px;
	}

#songs ul {
	width: 80%;
	margin-left: 10%;
	}
	
#songs li {
	margin-top: 4px;
	}

.song_top {
	height: auto;
	padding: 6px 8px 4px 8px;
	font-size: 1.6em;	
	}
	
.play_button {
	height: 50px;
	width: 50px;
	margin-top: 8px;
	position: relative;
	cursor: pointer;
	}
	
.play_button img {
	position: absolute;
	}
	
.play_button .hover {
	opacity: 0;
	}
	
.toggle {
/*	cursor: pointer;*/
	display: block;
	position: relative;
	}

.toggle:hover {
/*	color: #ea1414;*/
	}	
	
.song_plus_minus {
/*	border: 1px solid green;*/
	height: 22px;
	width: 22px;
	position: absolute;
	left: -32px;
	opacity: 0.67;
	display: none;
	}
	
.song_plus_minus img {
	position: absolute;
	top: 8px;
	width: 100%;
	height: auto;
	}	
	
.song_plus_minus img.hover_minus {
	opacity: 0;
	}

.song_title {	
	display: inline-block;
	width: 100%;
	font-style: italic;
	}
	
.song_bottom {
/*	border: 1px solid green;*/ 
	display: block;
	padding-bottom: 24px;
	border-bottom: 1px solid #3c393e;
	}
	
.song_bottom_wrapper {
	padding: 6px 8px 12px 8px;
	display: block;
	width: 100%;
	}
	
.dapres {
	margin-top: 3px;
	}
	
.lien_projet {
	margin-top: 3px;
	}

.lien_projet a {
	color: #3f9d9e;
	}
	
.lien_projet a:hover {
	color: #3c393e;
	}		

.iframe {
	margin-top: 12px;
	}

.info_wrapper {
	padding: 8px 8px 10px 8px;
	}
	
.info_top {
	cursor: pointer;
	position: relative;
	clear: both;
	}

.info_top:hover {
/*	color: #ea1414;*/
	}
	
.info_bottom {
	height: auto;
/*	padding-bottom: 18px;*/
	}
	
.info_bottom span {
	display: block;
	margin-bottom: 18px;
	}

.col_1 {
/*	border: 1px solid purple;*/
	width: 32%;
	display: inline-block;
	padding-right: 8px;
	vertical-align: top;
	}
	
.col_2 {
/*	border: 1px solid purple;*/
	width: 32%;
	display: inline-block;
	padding-right: 8px;
	vertical-align: top;
	}
	
.col_3 {
/*	border: 1px solid purple;*/
	width: 32%;
	display: inline-block;
	padding-right: 8px;
	vertical-align: top;
	}
	
.lyrics_title {
	text-transform: uppercase;
	}

.current .song_top {
	color: #ea1414;
	}
	
.top span {
	border-bottom: 1px solid #3c393e;
	}
	
.intros br, .intros p {
	margin-bottom: 12px;
	}
	
.grey {
	opacity: 0.67;
	}

/**************************************
	PLAYER
**************************************/

#player {
	width: 100%;
	background-color: #3c393e;
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	height: 120px;
	text-align: center;
	color: white;
	}
	
.current_player {
	color: white;
	margin: 8px auto;
	width: 80%;
	}
			
.player_space {
	width: 60%;
	margin: 0 auto;
	height: 64px;
	}

.player_space iframe {
	height: 100%;
	overflow: hidden;
	}

/************************************************
	FLOATING ICONS
************************************************/	

#floating_icons {
	position: fixed;
	z-index: 999;
	bottom: 50px;
	left: 60px;
	width: 300px;
	height: auto;
	}
	
.icon {
	display: block;
	margin: 0 auto;
	width: auto;
	}

#floating_icons img {
	width: 140px;
	height: auto;
	}
	
.icon_text {
	color: white;
	position: absolute;
	font-size: 0.9em;
	line-height: 1.2;
	padding: 6px 10px;
	display: inline-block;
	margin-top: 0px;
	margin-left: -100px;
	width: 300px;
	text-align: center;
	display: none;	
	}
	
/**************************************
	MEDIA QUERIES
**************************************/

@media only screen and (max-width : 1070px) {

	.menu_title {
		width: 78%;
	}

	.col_1, .col_2, .col_3 {
		width: 31%;	
	}
	
}

@media only screen and (max-width : 900px) {

	.menu_title {
		width: 100%;
	}
	
	.menu_duration {
		display: none;
	}

	#songs ul {
		width: 95%;
		margin-left: 2.5%;
	}

}

@media only screen and (max-width : 800px) {

	html {
		font-size: 0.95em;
	}
		
	.intros .col_1, .intros .col_2, .intros .col_3 {
		width: 100% !important;
		display: block;
	}
	
	#menu, .menu_hide, .menu_show {	
		width: 33%;
	}
			
}

@media only screen and (max-width : 600px) {

	.col_1, .col_2, .col_3 {
		width: 100%;
		display: block;
		margin-bottom: 24px;	
	}
	
	#menu, .menu_show_wrapper {
		display: none;
	}

}

