/*
Theme Name: GONGLE
Author: Fred Cave
Author URI: http://fredcave.com
Version: 1.0
*/

/************************************************
	FONT-FACE
************************************************/

@font-face {
    font-family: 'Liberation Sans';
    src: url('fonts/liberationsans-regular-webfont.eot');
    src: url('fonts/liberationsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/liberationsans-regular-webfont.woff') format('woff'),
         url('fonts/liberationsans-regular-webfont.ttf') format('truetype'),
         url('fonts/liberationsans-regular-webfont.svg#liberation_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Bold';
    src: url('fonts/liberationsans-bold-webfont.eot');
    src: url('fonts/liberationsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/liberationsans-bold-webfont.woff') format('woff'),
         url('fonts/liberationsans-bold-webfont.ttf') format('truetype'),
         url('fonts/liberationsans-bold-webfont.svg#liberation_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Bold Italic';
    src: url('fonts/liberationsans-bolditalic-webfont.eot');
    src: url('fonts/liberationsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/liberationsans-bolditalic-webfont.woff') format('woff'),
         url('fonts/liberationsans-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/liberationsans-bolditalic-webfont.svg#liberation_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Italic';
    src: url('fonts/liberationsans-italic-webfont.eot');
    src: url('fonts/liberationsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/liberationsans-italic-webfont.woff') format('woff'),
         url('fonts/liberationsans-italic-webfont.ttf') format('truetype'),
         url('fonts/liberationsans-italic-webfont.svg#liberation_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/************************************************
	GENERAL
************************************************/

:root {
	--bs-border-radius: 0;
	--bs-body-bg: #f8f8f8;
	--bs-body-bg-rgb: 248,248,248;
	--bs-body-font-family: "Liberation Sans", Helvetica, sans-serif;
	--bs-body-font-size: 0.9em;
	--bs-light-rgb: 248,248,248;
	--bs-bg-opacity: 1;
	--bs-card-border-width: 0;
	--dark-color: #3c393e;
	--light-color: #a3a3a3;
	--red-color: #ea1414;
	}

body {
	overflow-x: hidden;
	overflow-y: scroll;
	}

.clear {
	clear: both;
	}

.business_card_wrapper {
	position: fixed;
	bottom: 10%;
	right: 12.5%;
	z-index: 99;
	width: auto;
	height: auto;
}

.business_card_wrapper .btn {
	--bs-btn-line-height: 0.8em;
	--bs-btn-padding-x: 0.375em;
}

.business_card {
	background-color: var(--red-color);
	height: auto;
	width: auto;
	padding: 13px 60px 20px 25px;
	font-size: 0.9em;
	line-height: 1.35;
	letter-spacing: 0.1em;
	color: var(--dark-color);
	font-weight: 500;
	overflow: hidden;
	}

.business_card p {
	margin-bottom: 0;
	}

.business_card_address {
	padding-left: 22px;
	}

.business_card_address img {
	width: 15px !important;
	height: auto;
	margin: 2px 0 -2px 0;
	}

strong, b {
	color: var(--red-color);
	font-weight: bold;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-size: 0.85em;
	}

i, em {
	font-style: italic;
	font-weight: 500;
	}

.email_1:after {
	content: "@";
	}

.email_2:after {
	content: ".";
	}

.regular {
	font-size: 1em;
	color: var(--dark-color);
	}

.english {
	opacity:0.75;
	filter: alpha(opacity=75); /* For IE8 and earlier */
	}

.part {
	font-size: 0.8em;
	text-indent: 3% !important;
	}

.single_info_text span.part {
	text-indent: 3% !important;
	}

a {
	text-decoration: none;
	color: var(--dark-color);
}
a, a:hover, a:active, a:focus {
  outline:0;
}

a:hover {
	text-decoration: none;
	color: var(--red-color);
	}

p a:hover, .sommaire_list a:hover, .project_page_wrapper a:hover, .top_link a:hover, .site-title a:hover {
	color: var(--light-color);
	}

.site-title a:hover img {
	filter: invert(100%);
	}

.header_menu {
	color: var(--dark-color);
}

.header_menu a:hover,
.header_menu .navbar-toggler svg:hover,
.header_menu .navbar-toggler[aria-expanded="true"] svg,
.business_card a:hover {
	color: var(--bs-body-bg);
	}

.header_menu button svg {
	display: inline-block;
	width: 28px;
	height: 28px;
}

.header_menu .container-fluid {
	background-color: var(--red-color);
}

.header_menu .navbar-toggler,
.header_menu a {
	color: black;
}

#navbarNav a:hover {
	color: var(--red-color);
}

a.facebook_link {
	width: 16px;
	display: block;
	}

.network_wrapper {
	white-space:nowrap;
	width: 200px;
	height: 14px;
	margin-bottom: 2px;
}

.facebook_div {
	width: 14px;
	height: 14px;
	background-image: url("img/fb_logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	margin-bottom: 3,5px;
	position:relative;
	display:inline-block;
	}

.instagram_div {
	width: 14px;
	height: 14px;
	background-image: url("img/insta_logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	position:relative;
	display:inline-block;
	}

.facebook_div:hover {
	background-image: url("img/fb_logo_hover.png");
	}

.instagram_div:hover {
	background-image: url("img/insta_logo_hover.png");
	}

p.english a {
	color: var(--light-color);
	}


.admin-bar header#main-nav {
	top: 32px;
}
.navbar {
	--bs-navbar-brand-font-size: 1em;
}

.navbar-brand {
		/* Toute la largeur moins le bouton du menu */
		width: calc(100% - 55px);
	}
.navbar-nav {
	--bs-navbar-color: var(--dark-color);
	--bs-nav-link-padding-y: 0.7rem;
}
.navbar-toggler:focus {
	box-shadow: none;
	color: var(--bs-light-rgb);
}
.navbar-collapse {
	background-color: var(--bs-body-bg);
}
.nav-link {
	text-align: center;
	letter-spacing: 0.2em;
}

.site-title {
	margin-bottom: 0.1em;
	}

.footer-card {
	width: 256px;
	margin: 20px;
}

.business_card.collapsing {
	height: 0;
	transition: none;
}

.business_card_wrapper .bi::before {
	display: inline-block;
	content: "";
	vertical-align: -2px;
	background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z'/></svg>");
	background-repeat: no-repeat;
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
}

.business_card_wrapper .collapsed .bi::before {
	background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M2 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1H3.707l10.147 10.146a.5.5 0 0 1-.708.708L3 3.707V8.5a.5.5 0 0 1-1 0v-6z'/></svg>");
}

/************************************************
	HEADER MENU
************************************************/

.projects_reveal {
	background-color: var(--bs-body-bg);
	letter-spacing: 0em;
	display: none;
	}

.projects_reveal ul {
	margin-top: 23px;
	}

.projects_reveal ul li {
	padding: 7px 12px 8px 12px;
	font-size: 1em;
	text-align: left !important;
	border-top: 1px solid black;
	line-height: 1;
	}

.projects_reveal ul li:hover {
	background-color: var(--light-color);
	color: var(--bs-body-bg) !important;
	}

.projects_reveal ul li a:hover {
	color: var(--bs-body-bg) !important;
	}

.projects_reveal ul:nth-child(1) {
	border: 1px solid green;
	}

/************************************************
	FLOATING ICONS
************************************************/

#floating_icons {
	position: absolute;
	z-index: 98;
	top: 100px;
	left: 60px;
	}

.icon {
	display: block;
	position: absolute;
	width: auto;
	}
.icon:hover > .icon_text {
	display: inline-block;
}
.icon a{
	display: block;
	}
#floating_icons .icon{
	opacity:0.5;
	transition:opacity 0.2s linear;
}
#floating_icons .icon:hover{
	opacity:1;
}
#floating_icons img {
	width: 140px;
	height: auto;
	}

.icon_text {
	background-color: white;
	position: absolute;
	font-size: 1em;
	line-height: 1.2;
	padding: 6px 10px;
	display: inline-block;
	margin-top: 0px;
	margin-left: 0px;
	display: none;
	}

/************************************************
	PAGES
************************************************/

.background_image {
	position: fixed;
	width: 100%;
	height: 100vh;
	margin: 0;
	z-index: -99;
	}


.background_image > img {
	width: 100% !important;
	height: auto !important;
	}

.sommaire_list {
	font-size: 1.4em;
	}

h1 {
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 0.1em;
	font-size: 1.7rem;
	}

.sommaire_list li {
	margin-bottom: 5px;
	}

.sommaire_list span.english {
	margin-left: 7px;
	}

.sommaire_dates {
	font-size: 0.9em;
	letter-spacing: 0.1em;
	}

.connector_div {
	text-align: center;
	height: 100vh;
	}

.connector_div img {
	height: 100%;
	width: auto !important;
	}

.connector_div_2 {
	margin-bottom: -7px;
	text-align: center;
	}

.connector_div_2 img {
	width: 100%;
	height: auto !important;
	}

.page_wrapper {
	font-size: 1.2em;
	line-height: 1.3;
	overflow-x: hidden;
	overflow-y: hidden;
	}

.page_post {
	background-color: var(--bs-body-bg);
	padding: 80px 0 90px 0;
	border-bottom: 1px solid var(--light-color);;
	}

.page_post p {
	margin-bottom: 12px;
	}

.page_post:last-child {
	padding-bottom: 150px;
	}

#front_page .page_post:nth-last-child(2) {
	padding-bottom: 150px;
	}

#front_page div.connector_div_2:last-child  {
	margin: 0;
	display: none;
	}

.post_title {
	text-transform: uppercase;
	font-size: 1.3em;
	letter-spacing: 0.1em;
	line-height: 1.25;
	margin-bottom: 12px;
	margin-top: 5%;
	}

.post_title span.english {
	display: block;
	}

.post_image {
	width: 50%;
	margin: 0 0 12px 3%;
	}

section p.link {
	padding-left: 5%;
	}

section p.link:before {
	content: "→ ";
	}

.accueil_lien_blog {
	border: 2px solid var(--dark-color);
	width: 100%;
	text-transform: none;
	margin-bottom: 50px;
	padding: 8px 0px 6px 7px;
	font-size: 0.8em;
	text-align: center;
	}

.accueil_lien_blog:hover {
	border: 2px solid var(--dark-color);
	background-color: var(--dark-color);
	color: var(--bs-body-bg);
	}

.post_info {
	font-size: 1em;
	}

.post_info .date {
	font-size: 0.95em;
	text-transform: uppercase;
	}

.top_link {
	font-size: 0.7em;
	margin: 50px 0 0 21px;
	}

div.english {
	margin: 15px 0;
	}

.recherches p, .groupe p {
	font-size: 1em;
	line-height: 1.25;
	}

.actualites_lien_blog {
	display: block;
	border: 1px solid var(--dark-color);
	padding: 20px;
	}

.page_wrapper section:nth-last-child(2) {
	padding-bottom: 25vh;
	}


/************************************************
	PROJECTS PAGE
************************************************/

.project_page_wrapper  {
	font-size: 1.55em;
	}

/************************************************
	SINGLE
************************************************/

#single_wrapper {
	z-index: 50;
	}

.single_header_block {
	z-index: 50;
	}

.single_info_block {
	z-index: 99;
	background-color: var(--bs-body-bg);
	}

.single_title {
	margin-top: 5%;
	font-size: 2.2em;
	line-height: 1.2;
	}

.single_link {
	margin-top: 5%;
	font-size: 1.4em;
	padding-top: 0px;
	}

div.single_link span {
	padding: 12px 16px 10px 16px;
	background-color: var(--bs-body-bg);
	}

div.single_link:hover span {
	background-color: var(--dark-color);
	color: var(--bs-body-bg);
	}

.single_info_text {
	font-size: 1.1em;
	line-height: 1.25;
	margin-top: 15px;
	}

.single_info_text, .post_content {
	margin-bottom: 15px;
	text-indent: -1.5rem;
	padding-left: 3rem;
	padding-right: 1.5rem;
	}

.single_info_text span.part {
	text-indent: 0% !important;
	}

.single_info_text p {
	margin-bottom: 20px;
	}

.single_info_text:last-child {
	border: 1px solid black;
	}

.single_info_text img {
	display: none;
	}

.single_diagrams p {
	font-size: 0.01em;
	line-height: 0;
	visibility: hidden;
	}

.single_diagrams img {
	visibility: visible;
	display: block !important;
	width: 100%;
	margin-bottom: 20px;
	}

.single_diagrams img:first-child {
	margin-top: 0px;
	}

#single_wrapper div.connector_div img {
	height: 101%;
	}

/************************************************
	NEWSLETTER PAGE
************************************************/

#newsletter_wrapper {
	text-align: center;
	margin-top: 8%;
	}

.newsletter_pre {
	border: 1px solid black;
	width: 354px;
	margin: 0 auto;
	padding: 6px;
	}

#newsletter_wrapper img {
	width: 366px;
	min-width: 366px;
	}

#newsletter_wrapper p {
	font-size: 1.2em;
	margin-top: 7px;
	letter-spacing: 0.08em;
	}

#newsletter_wrapper p:last-child {
	margin: 4px 0 11px 0;
	}

#newsletter_block {
	margin-top: -180px;
	}

.mc_input { /* Input fields */
	border: 1px solid var(--dark-color) !important;
	height: 45px;
	width: 350px;
	margin-bottom: 22px !important;
	border-radius: 0px !important;
	padding-left: 10px;
	font-family: "Liberation Sans", Helvetica, Arial, sans-serif;
	font-size: 1.25em;
	letter-spacing: 0.05em;
	}

#mc-indicates-required {
	display: none;
	}

.mc_var_label {
	display: none;
	}

/************************************************
	MEDIA QUERIES
************************************************/
@media (min-width: 992px) {
	.header_menu .navbar-collapse .navbar-nav {
		width: 75%;
		}

	.single_info_block {
		padding-top: 60px;
		}

	.single_title {
		color: var(--bs-body-bg);
		}
	.single_header_block {
		position: absolute;
		width: 100%;
	}
}

@media only screen and (max-width: 1500px) {
	.business_card_wrapper {
		right: 8%;
		}
}

@media only screen and (max-width: 1280px) {
	.business_card_wrapper {
		right: 5%;
		width: 30%;
		min-width: 270px;
		}
}

@media only screen and (max-width: 992px) {
	.background_image {
		height: auto;
		width: auto;
		position: relative;;
		}
	.connector_div {
		position: relative;
		margin-top: -3px;
		height: 400px;
		width: auto;
		display: none;
		}
	.connector_div img {
		margin-top: -20px;
		}
	.connector_div_2 {
		display: none;
		}
	.sommaire_list .offset-2 {
		margin-left: 8.5% !important;
		padding-left: 9px;
		}
	.sommaire_list ul {
		margin-left: 4.85% !important;
		padding-left: 3px;
		font-size: 0.8em;
		}
	.sommaire_dates {
		width: 100% !important;
		}
	.page_post {
		padding: 40px 0;
		}
	.top_link {
		margin-top: 10px;
		}
	.post_info .date, .post_info .address {
		font-size: 0.8em;
		}
	.accueil_lien_blog {
		width: 90%;
		font-size: 0.65em;
		}
	.project_list {
		font-size: 0.7em;
		margin-bottom: 50px;
		}
	.project_list li {
		padding-bottom: 7px !important;
		margin-bottom: 9px !important;
		}
	.project_list li div {
		height: auto !important;
		min-height: 15px !important;
		}
	.single_diagrams img {
		width: 60% !important;
		margin: 0 20% 20px 20%;
		}
	#floating_icons {
		display: none;
		}

}
